<nav class="naABVr naABVr-fixed-top naABVr-inverse">
    <div class="naABVr-header">
        <a href="/" class="naABVr-brand"><span class="brand-title">ABV</span></a>
        <a class="btn naABVr-btn naABVr-toggle" data-toggle="collapse" data-target=".naABVr-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="naABVr-collapse collapse">
        <div class="pull-right naABVr-logo">
            <ul class="nav naABVr-nav pull-right">
                <li>
                    <a href="http://www.johnpapa.net/hottowel-angular" target="_blank">
                        Created by Praveen Jukalkar
                    </a>
                </li>
                <li>
                    <a href="http://www.breezejs.com" target="_blank">
                        <img src="../../Content/images/breezelogo.png" />
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="../../Content/images/AngularJS-small.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>